<%- include("header", {title: "Artists" })%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button class="active">Artists</button>
    </div>
    <button onclick="location.href='/logout'">Logout</button>
</nav>
<div class="artists">
    <table>
        <tr>
            <th>Artist name</th>
            <th>Monthly listeners</th>
            <th colspan="2">Actions</th>
        </tr>
        <tbody id="artist_table">
            <% artists.forEach(artist => { %>
                <tr>
                    <td><a href="/artist/<%= artist._id; %>"><%= artist.name; %></a></td>
                    <td><%= artist.ml; %></td>
                    <td><a href="/edit/artist/<%= artist._id %>">Edit</a></td>
                    <td><a href="/delete/artist/<%= artist._id %>">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <button onclick="location.href='/new/artist'" class="new">
        New
    </button>
</div>
<%- include("footer") %>
