<%- include("header", {title: "New song" })%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
    <button onclick="location.href='/logout'">Logout</button>
</nav>
<div class="new_edit form">
    <form method="post">
        <input
                name="s_name"
                type="text"
                value="<%= typeof song !== "undefined" ? song.name : "" %>"
                placeholder="Song name"
        />
        <input
                name="ar_name"
                type="text"
                value="<%= typeof song !== "undefined" ? song.artist : "" %>"
                placeholder="Artist's name"
        />
        <input
                name="genre"
                type="text"
                value="<%= typeof song !== "undefined" ? song.genre : "" %>"
                placeholder="Genre"
        />
        <button type="submit">Save</button>
    </form>
</div>
<%- include("footer")%>
