<%- include("header", {title: "Playlists" })%>
<nav>
    <div class="pages">
        <button class="active">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
    <button onclick="location.href='/logout'">Logout</button>
</nav>
<div class="playlists">
    <table>
        <tr>
            <th>Playlist name</th>
            <th>Created by</th>
            <th>Date created</th>
            <th colspan="2">Actions</th>
        </tr>
        <tbody id="playlist_table">
            <% playlists.forEach(playlist => { %>
                <tr>
                    <td><a href="/playlist/<%= playlist._id; %>"><%= playlist.name; %></a></td>
                    <td><%= playlist.creator; %></td>
                    <td><%= playlist.date; %></td>
                    <td><a href="/edit/playlist/<%= playlist._id %>">Edit</a></td>
                    <td><a href="/delete/playlist/<%= playlist._id %>">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <button onclick="location.href='/new/playlist'" class="new">
        New
    </button>
</div>
<%- include("footer")%>
