<%- include("header", {title: "Playlist" })%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
</nav>
<div class="songs">
    <div class="label">
        <h1><%= id %></h1>
        <h1><%= playlist.date %></h1>
    </div>
    <table>
        <tr>
            <th>Song name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th colspan="2">Actions</th>
        </tr>
        <tbody id="playlist_table">
            <% songs.forEach(song => { %>
                <tr>
                    <td><%= song.name; %></td>
                    <td><%= song.artist; %></td>
                    <td><%= song.genre; %></td>
                    <td><a href="/edit/song/<%= song.name %>">Edit</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <button onclick="location.href='/new/song'" class="new">
        New
    </button>
</div>
<%- include("footer")%>
